<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%X{correlationId}){faint} %clr(---){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex"/>
    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="myLogFile"/>
    <springProperty name="SPRING_PROFILES_ACTIVE" source="spring.profiles.active"/>

    <springProfile name="local,default">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate" level="INFO"/>
        <logger name="com.company" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="test,stage,qa">
        <!-- configuration to be enabled when the "test" profile is active -->
        <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
            <graylogHost>10.1.20.40</graylogHost>
            <graylogPort>12201</graylogPort>
            <layout class="de.siegmar.logbackgelf.GelfLayout">
                <includeLevelName>true</includeLevelName>
                <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>${FILE_LOG_PATTERN}</pattern>
                </fullPatternLayout>
                <staticField>app_name:${APP_NAME}</staticField>
                <staticField>spring_profiles_active:${SPRING_PROFILES_ACTIVE}</staticField>
            </layout>
        </appender>

        <appender name="ASYNC_GELF" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="GELF"/>
        </appender>

        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate" level="INFO"/>
        <logger name="org.apache.http" level="INFO"/>
        <logger name="com.trendyol" level="DEBUG"/>

        <root level="DEBUG">
            <appender-ref ref="ASYNC_GELF"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <!-- configuration to be enabled when the "prod" profile is active -->
        <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
            <graylogHost>10.0.0.110</graylogHost>
            <graylogPort>12201</graylogPort>
            <layout class="de.siegmar.logbackgelf.GelfLayout">
                <includeLevelName>true</includeLevelName>
                <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>${FILE_LOG_PATTERN}</pattern>
                </fullPatternLayout>
                <staticField>app_name:${APP_NAME}</staticField>
                <staticField>spring_profiles_active:${SPRING_PROFILES_ACTIVE}</staticField>
            </layout>
        </appender>

        <appender name="ASYNC_GELF" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="GELF"/>
        </appender>

        <logger name="org.springframework" level="ERROR"/>
        <logger name="org.hibernate" level="ERROR"/>
        <logger name="org.apache.http" level="ERROR"/>
        <logger name="springfox.documentation" level="ERROR"/>
        <logger name="com.couchbase.client" level="INFO"/>
        <logger name="com.zaxxer.hikari" level="INFO"/>
        <logger name="com.trendyol" level="DEBUG"/>

        <root level="DEBUG">
            <appender-ref ref="ASYNC_GELF"/>
        </root>
    </springProfile>

</configuration>